<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <title>search page</title>
    <div class="content">
        <h1 style="text-align:center">search</h1>

        <div class="form">
            <form action="/weatherapp" method="POST">
                <label for="city">ENTER CITY</label>
                <input type="text" name="city" id="city">
                <label for="units">ENTER UNITS</label>
                <input type="text" name="units" id="units">
                <label for="appid">ENTER APP KEY</label>
                <input type="text" name="appid" id="appid">
                <input type="submit" value="search">
            </form>
        </div>
    </div>
</body>
</html>
